* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 1.825em;
    margin-bottom: 4px;
}

h2 {
    font-size: 1.225em;
    margin-bottom: 4px;
}

p {
    line-height: 1.5em;
    margin-bottom: 12px;
}

/* Navbar */
.navbar {
    background-color: rgb(164, 172, 148, 0.5);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(29, 59, 56);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a.navbar-brand {
    margin-left: 10px;
    margin-right: 8px;
    font-size: 22px;
}

.navbar a.active {
    color: white;
}

.navbar .icon {
    display: none;
}

.navbar a:not(:first-child) {
    display: none;
}

.navbar a.icon {
    float: right;
    display: block;
    margin: 3px 0;
}

.navbar.responsive {
    position: relative;
}

.navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

.navbar.responsive a {
    float: none;
    display: block;
    text-align: left;

}

.navbar.responsive a:not(:first-child) {
    margin-left: 10px;
}

/* Header */
.header {
    margin-bottom: 41px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Greeting Card */
.greeting-card {
    background-color: rgba(219, 182, 163, 0.5);
}

.greeting-card-text {
    color: rgb(48, 48, 48);
    margin: 0 25px;
    padding: 35px 24px;
}

.greeting-card-menu {
    background-color: rgba(219, 182, 163, 0.5);
    padding-bottom: 12px;
    margin-bottom: 24px;
}

.greeting-card-text-menu {
    color: rgb(48, 48, 48);
    margin: 0 25px;
    padding: 0 24px;
    padding-top: 35px;
    padding-bottom: 12px;;
}

/* Showcase Img */
.showcase-img {
    margin-bottom: 41px;
}

/* Gratitude Card */
.gratitude-card {
    background-color: rgba(219, 182, 163, 0.5);
}

.gratitude-card-text {
    text-align: center;
    color: rgb(48, 48, 48);
    padding: 12px 24px;
    font-weight: lighter;
    letter-spacing: 1.3px;
    margin-bottom: 24px;
}

.heart {
    font-size: 16px;
}

/* Footer */
footer {
    background-color: rgb(164, 172, 148, 0.5);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 20px;
}

.footer-text {
    text-align: center;
    color: rgb(29, 59, 56);
    padding: 12px 24px;
    font-weight: lighter;
    letter-spacing: 1.3px;
}

a.footer-link {
    font-size: 16px;
    color: rgb(48, 48, 48);
}

/* Menu Card */
.menu-card {
    margin: 0 40px;
    margin-bottom: 41px;
}

.menu-img {
    margin-bottom: 0;
    border-bottom: none;
}

.menu-text {
    margin-top: -4px;
    padding: 0 25px;
    background-color: rgb(250, 241, 229);
    padding-top: 12px;
}

.menu-text h1 {
    font-size: 26px;
    margin-bottom: 6px;
    font-weight: lighter;
}

.menu-text p {
    padding-bottom: 28px;
    margin-bottom: 0;
}

/* Contact */
.label {
    margin-bottom: 12px;
}

/* Input */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(29, 59, 56, 0.8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Mobile Styles */
@media only screen and (max-width: 767px) {

}
  
/* Tablet Styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .navbar a:not(:first-child) {
        display: block;
        margin: 3px 0;
    }

    .navbar a.icon {
        display: none;
    }

    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    body {
        max-width: 1024px;
        margin: 0 auto;
    }

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .navbar a:not(:first-child) {
        display: block;
        margin: 3px 0;
    }

    .navbar a.icon {
        display: none;
    }

    .menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }
}